<div class="container-fluid my-4 mx-2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h2 class="section-title">
        <span class="section-icon mr-2">
          <i class="fas fa-bars"></i></span>
        <span>Lista Proyectos</span>
      </h2>
      <div class="form-row my-2">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="custom-select input-default" (change)="showingListChange($event.target.value)">
            <option selected disabled value="">Mostrar</option>
            <option *ngFor="let num of showList" value="{{num}}">{{num}} Registros</option>
            <option value="0">Mostrar Todos</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group">
            <input type="text" class="form-control input-default" placeholder="Buscar" [ngModel]="filterText"
              (ngModelChange)="filterByName($event)">
            <div class="input-group-append ">
              <span class="input-group-text input-accent">
                <span class="form-icons"><i class="fas fa-search"></i></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <button type="button" class="btn btn-block primary-button" (click)="showCreationPanel()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="row" *ngIf="projectList.length > 0; else emptyProjectList">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let project of projectList"
          (click)=showConfigurationPanel(project)>
          <div
            class="card card-primary {{project.newProjectClass}} {{project.updatedProjectClass}} {{project.selectedProjectClass}} my-2">
            <div class="card-header">
              <span class="{{project.statusClass}}">
                <i class="fas fa-circle"></i>
              </span>
              <span class="card-status-text ml-1">{{project.status}}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{project.name}}</h5>
              <div class="row my-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Código</h6>
                  <p class="card-text"><small>{{project.code}}</small></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Purchase Order</h6>
                  <p class="card-text"><small>{{project.purchaseOrder}}</small></p>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Industria</h6>
                  <p class="card-text"><small>{{project.industry}}</small></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Fecha de Inicio</h6>
                  <p class="card-text"><small>{{project.startDate}}</small></p>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Fecha Programada</h6>
                  <p class="card-text"><small>{{project.plannedEndDate}}</small></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h6 class="card-subtitle">Fecha de Término</h6>
                  <p class="card-text"><small>{{project.endDate}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #emptyProjectList>
        <div class="row my-4">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h2 class="placeholder-title">No hay proyectos registrados</h2>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <app-project-create *ngIf="creationPanel" (projectCreatedEvent)="addNewProjectToList($event)">
      </app-project-create>
      <div *ngIf="configurationPanel">
        <app-project-configuration *ngIf="selectedProject" [project]="selectedProject"
          (projectUpdatedEvent)="updateProjectList($event)">
        </app-project-configuration>
      </div>
    </div>
  </div>
</div>
