// Primary color scale
$primary-color-25: #010002;
$primary-color-24: #050412;
$primary-color-23: #090723;
$primary-color-22: #0E0A33;
$primary-color-21: #120D43;
$primary-color-20: #171154;
$primary-color-19: #1B1464; // Primary color
$primary-color-18: #1F1774;
$primary-color-17: #241B85;
$primary-color-16: #281E95;
$primary-color-15: #3124B6;
$primary-color-14: #3528C6;
$primary-color-13: #3B2CD5;
$primary-color-12: #4A3DD8;
$primary-color-11: #5A4DDB;
$primary-color-10: #695DDF;
$primary-color-09: #786EE2;
$primary-color-08: #877EE5;
$primary-color-07: #968FE9;
$primary-color-06: #A69FEC;
$primary-color-05: #B5AFEF;
$primary-color-04: #C4C0F2;
$primary-color-03: #D3D0F6;
$primary-color-02: #E2E0F9;
$primary-color-01: #F2F1FC;

//Secondary Color
$secondary-color-25: #080101;
$secondary-color-24: #1B0203;
$secondary-color-23: #2D0405;
$secondary-color-22: #3F0507;
$secondary-color-21: #51060A;
$secondary-color-20: #63080C;
$secondary-color-19: #75090E;
$secondary-color-18: #880B10;
$secondary-color-17: #9A0C12;
$secondary-color-16: #AC0E14;
$secondary-color-15: #BE0F17;
$secondary-color-14: #D01019;
$secondary-color-13: #E3121B;
$secondary-color-12: #ED1B24; // Secondary Color
$secondary-color-11: #EE2D35;
$secondary-color-10: #F03F47;
$secondary-color-09: #F15258;
$secondary-color-08: #F3646A;
$secondary-color-07: #F4767B;
$secondary-color-06: #F6888D;
$secondary-color-05: #F79A9E;
$secondary-color-04: #F8ACB0;
$secondary-color-03: #FABFC1;
$secondary-color-02: #FDE3E4;
$secondary-color-01: #FEF5F6;

//Black and White Scale
$baw-color-26: #000000;
$baw-color-25: #0A0A0A;
$baw-color-24: #141414;
$baw-color-23: #1F1F1F;
$baw-color-22: #292929;
$baw-color-21: #333333;
$baw-color-20: #3D3D3D;
$baw-color-19: #474747;
$baw-color-18: #525252;
$baw-color-17: #5C5C5C;
$baw-color-16: #666666;
$baw-color-15: #707070;
$baw-color-14: #7A7A7A;
$baw-color-13: #858585;
$baw-color-12: #8F8F8F;
$baw-color-11: #999999;
$baw-color-10: #A3A3A3;
$baw-color-09: #ADADAD;
$baw-color-08: #B8B8B8;
$baw-color-07: #C2C2C2;
$baw-color-06: #CCCCCC;
$baw-color-05: #D6D6D6;
$baw-color-04: #E0E0E0;
$baw-color-03: #EBEBEB;
$baw-color-02: #F5F5F5;
$baw-color-01: #FFFFFF;

// Success Colors
$success-color-26: #000201;
$success-color-25: #041205;
$success-color-24: #072309;
$success-color-23: #0A330E;
$success-color-22: #0D4312;
$success-color-21: #115417;
$success-color-20: #14641B;
$success-color-19: #17741F;
$success-color-18: #1B8524;
$success-color-17: #1E9528;
$success-color-16: #21A52D;
$success-color-15: #24B631; // Success Color
$success-color-14: #28C635;
$success-color-13: #2CD53B;
$success-color-12: #3DD84A;
$success-color-11: #4DD15A;
$success-color-10: #5DDF69;
$success-color-09: #6EE278;
$success-color-08: #7EE587;
$success-color-07: #8FE996;
$success-color-06: #9FECA6;
$success-color-05: #AFEFB5;
$success-color-04: #C0F2C4;
$success-color-03: #D0F6D3;
$success-color-02: #E0F9E2;
$success-color-01: #F1FCF2;

// Warning Color
$warning-color-26: #020200;
$warning-color-25: #111204;
$warning-color-24: #202307;
$warning-color-23: #2F330A;
$warning-color-22: #3F430D;
$warning-color-21: #4E5411;
$warning-color-20: #5D6414;
$warning-color-19: #6C7417;
$warning-color-18: #7B851B;
$warning-color-17: #8B951E;
$warning-color-16: #9AA521;
$warning-color-15: #A9B624; 
$warning-color-14: #B8C628; // Warning Color
$warning-color-13: #C6D52C;
$warning-color-12: #CBD83D;
$warning-color-11: #CFDB4D;
$warning-color-10: #D3DF5D;
$warning-color-09: #D8E26E;
$warning-color-08: #DCE57E;
$warning-color-07: #E1E98F;
$warning-color-06: #E5EC9F;
$warning-color-05: #E9EFAF;
$warning-color-04: #EEF2C0;
$warning-color-03: #F2F6D0;
$warning-color-02: #F7F9E0;
$warning-color-01: #FBFCF1;

// Error Color
$error-color-17: #BB0209; // Error Color
