@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$main-title-font: 'Libre Baskerville', serif;
$title-font: 'Montserrat', sans-serif;
$primary-font: 'Raleway', sans-serif;